@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <div>@TempData["username"]</div>
    <h1 class="display-4">Welcome to Inventory Management System</h1>
</div>
